.absolute {
  width: 150px;
  height: 150px;
  border: 2px solid aqua;
  
  /* Position */
  position: absolute;
  
  /*
  top: ;
  bottom: ;
  left: ;
  right: ;
  */
}

/*
.container {
  position: ;
}
*/