html, body {
  background-color: #ffeead;
  margin: 10px;
  font-size: 20px;
}

p {
  color: #96ceb4;
  text-align: center;
}

.header {
  background-color: #96ceb4;	
  line-height: 40px;
}

.header :nth-child(2) {
  padding: 0 40px;
}

.menu {
  background-color: #ff6f69;
  height: 200px;
  line-height: 200px;
}

.content {
  background-color: #ffcc5c;
  height: 200px;
  line-height: 200px;
}

.footer {
  background-color: #88d8b0;
  height: 40px;
  line-height: 40px;
}

.float-page > div {
  color: #ffeead;
  padding: 0 1%;
}

