/* Header */
.header > div {
  float: left;
}

.header > div:nth-child(3) {
  float: right;
}

.header {
  display: flow-root;
  height: 40px;
}

.menu, .content {
  float: left;
}

.menu {
  width: 6%;
}

.content {
  width: 90%;
}

/* to make footer visible because of floating menu and content */
.footer {
  clear: both;
}
