.box {
  float: left;
}


/* Clearfix */

/* Method 1 */
/* .container {
  overflow: auto;
} */

/* Method 2 */
/* .container:before,
.container:after {
  content: "";
  display: table;
  clear: both;
} */

/* Method 3 */
.container {
  display: flow-root;
}
