body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  border: 5px solid red;
}

.static {
  display: flex;
  justify-content: center;
  align-items: center;
}